*{margin: 0; padding: 0}


.header{grid-area:header;}
.nav{grid-area:nav;}
.seccion{grid-area:seccion;}
.aside{grid-area:aside;}
.footer{grid-area:footer;}

.contenedor{
	    width: 100%;
	    height: 100%;
		padding: 10px;
		display: grid;
		grid-template-areas: 
		"header header header"
		"nav nav nav"
		"aside seccion seccion"
		"footer footer footer";
		 grid-template-columns:  1fr 30fr 30fr;
		grid-template-rows: 100px 50px 400px 100px;
			
		
}

.contenedor > div{
	background:rgba(255,255,255,0.8);
	padding: 20px 0px;
	border-right: 40px 10px;

}
.contenedor .footer{
	background: #FE9A2E;
	color: rgba(255,255,255,0.8);
	font-family:  cursive;
	padding: 3px;
	padding-left: 20px;
	position:fixed;
	width: 100%;
    left:0px;
    bottom:0px;
  



}

.header{
    position:fixed;
	right: 0px;
    left:0px;
    top:0px;

}

.nav{
	position:fixed;
	width: 100%;
    left:0px;
    top:95px;
}
.aside{
    position:fixed;
	top:158px;;
    left:0px;
   

}
.contenedor .nav{
    
	background: #FE9A2E;
}
.contenedor .aside{
     background: #E6E6E6;
     width: 250px;
     
}

ul {
  list-style: none;
 
}
 

li {
   
  display: inline;
  position: relative;
  bottom: 9px;
  font-size: 18px;


}

a {
 
  text-decoration: none;
  color: #FFFF;
  
}


.uno{position: relative;
  left: 70px;}
.dos{
  position: relative;
  left: 150px;
}
.tres{
  position: relative;
  left: 250px;
}
.cuatro{
position: relative;
  left: 350px;

}
.cinco{
   position: relative;
  left:  450px;

}
img{
	width: 70%;
} 

	.seccion{
    width: 900px;
			margin-left:230px;
			font-size: 100%;
			font-family:  cursive;
			color: #8A2908;

  	}
  	p{
		margin-left: 35px;
		font-size: 16px;
  }
  video{
  	width: 60%;
  	margin-left: 100px;
  }
  .foto{
    width: 100px;
    margin-left: 90px;
    padding-top: 40px;
  }
 .marco{
    width: 600px;
    border: white 8px outset;
    background: #D8D8D8;
    height: 300px;
    margin-left: 125px;
  }
 .marco > p{
 	position: relative;
 	top: -100px;
 
    margin-left: 300px;
   padding-bottom: 15px;
  }